# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# ==============================================================================
# compas-RV2
# ==============================================================================

*.3dm
*.3dmbak
*.rhl
*.rui_bak

temp/**
!temp/PLACEHOLDER

.vscode

.DS_Store
*.doctree
docs/.buildinfo
docs/.doctrees/api/compas_rv2.doctree
docs/.doctrees/examples.doctree
docs/.doctrees/examples/barrelvault/barrelvault.doctree
docs/.doctrees/examples/crossvault/crossvault.doctree
docs/.doctrees/examples/dome/dome.doctree
docs/.doctrees/gettingstarted.doctree
docs/.doctrees/index.doctree
docs/.doctrees/intro.doctree
docs/.doctrees/license.doctree
docs/.doctrees/tutorial.doctree
docs/.doctrees/tutorial/crossvault/crossvault.doctree
docs/.doctrees/tutorial/crossvault2/crossvault.doctree
docs/.doctrees/tutorial/force/crossvault.doctree
docs/.doctrees/tutorial/force/force.doctree
docs/.doctrees/tutorial/form/form.doctree
docs/.doctrees/tutorial/form/init.doctree
docs/.doctrees/tutorial/init/init.doctree
docs/.doctrees/tutorial/settings/init.doctree
docs/.doctrees/tutorial/settings/settings.doctree
docs/.doctrees/tutorial/skeleton/init.doctree
docs/.doctrees/tutorial/skeleton/skeleton.doctree
