COMPAS==0.17.2
compas_cloud==0.1.0
compas_tna==0.1.4
compas_triangle==1.0.1
compas_skeleton==1.0.0
compas_singular @ git+git://github.com/BlockResearchGroup/compas_singular.git@d2e0b23723d050916907bb5c77fd18616652a27e