body{
    font-family:  Helvetica;
    color: white;
    margin: 0;
    padding: 0;
    font-size: xx-small;
    overflow: hidden;
}
h2{
    font-weight: 100;
    margin-bottom: 0;
}

h2 b{
    font-family:  Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

img{
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    z-index: -100;
}

#content{
    margin: 3%;
    line-height: 1.5;
}

#logo{

}

a:link{
    color: white;
    text-decoration: none;
}

a:link:visited{
    color: white;
}

#version{
    line-height: 0.1;
}
#links{
    margin-top: 10%;
}

#terms{
    position: absolute;
    bottom: 3%;
    right: 3%;
    font-size: xx-small;
}

#terms a:link{
    color: white;
    text-decoration: underline;
}